.container {
    position: relative;
  }
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0; /* Adjust as needed */
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items horizontally in the center */
    background: transparent;
    backdrop-filter: blur(10px); /* Add blur effect */
    z-index: 2; /* Ensure the navbar stays above other content */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  nav ul li {
    padding: 15px 35px;
    margin: 0; /* Remove default margin */
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
    color: #777;
    cursor: pointer;
    position: relative;
    transition: color 0.5s;
  }
  
  nav ul li::after {
    content: "";
    background: linear-gradient(to right, #EC36A3, #9B3BD3);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
  }
  
  nav ul li:hover {
    color: #fff;
  }
  
  nav ul li:hover::after {
    top: 50%;
    opacity: 1;
  }
  